.App {
  text-align: center;
  width: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
}

.css-button {
  min-width: 140px;
  height: 50px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #3a86ff;
  box-shadow: 0 5px #0a3592;
  font-size: 18px;
}
.css-button:hover {
  box-shadow: 0 3px #0a3592;
  top: 1px;
}
.css-button:active {
  box-shadow: 0 0 #0a3592;
  top: 5px;
}

.result{
  margin:auto;
  margin-top: 2rem;
  width:500px;
  text-align: center;
}

.input-div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

label[for='amount'] .input-label {
  color: #000;
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 4px;
}

label[for='amount'] {
  width:160px;
  border: solid 1px rgb(191, 192, 192);
  color: #616161;
  font-weight: 300;
  padding: 1rem;
  text-align: left;
}

input[type="tel"], input:focus[type="tel"] {
  width:160px;
  outline: 0;
  border: none;
  color: #474747;
  font-size: 20px;
}

input[type="tel"]::after{
  transform: translateY(-50%);
  content: '$';
  display: inline-block;
  color: #474747;
  line-height: 1;
  left: 0px;
  position: absolute;
  top: 50%;
}

.hosted-fields{
  height:50px;
  min-width: 150px;
  border: solid 1px rgb(191, 192, 192);
  font-weight: 300;
  padding-left: 1rem;
  margin-bottom: 1.2rem;
}

.input-hosted{
  color: #000;
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 4px;
}

.buttons-div{
  display:flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.flow-options{
  width: 500px;
  border: solid 1px rgb(191, 192, 192);
  border-radius: 15px;
  padding: 12px;
  font-weight: 500;
  font-size: large;
  margin-bottom: 1.2em;
}

.search-div{
  border: solid 1px rgb(191, 192, 192);
  border-radius: 15px;
  padding: 12px;
  font-size: large;
  margin: 0.8em;
  display: flex;
  width: 75vw;
  justify-content: space-around;
  align-items: flex-start;
}

@media only screen and (max-width: 869px) {
  .search-div {
    flex-wrap: wrap;
  }

  .search-div :nth-child(2){
    margin-top:2em;
  }
}

.select{
  padding: 10px;
  font-size: 17px;
  margin-top: 8px;
  border: 1px solid lightgray;
  color: #474747;
}